.detail-page {
    background-color: rgba(95, 218, 109, 0.618);
    width: fit-content;
    padding: 20px;
    border-radius: 25px ;
    margin-top: 50px;
}

.detail-page button {
    border-radius: 8px;
    border-width: 1px;
}